body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
}

.Column {
  width: 20%;
}

/* MESSAGE */

.messageDisplay {
  position: absolute;
  top: 50%;
  left: 45%;
  color: gray;
  font-size: 3em;
}

/* HEADER */

header {
  background-color: #d0e8f2;
  border-radius: 0 0 25px 25px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.headerLogo {
  margin: 0;
  grid-row: 1;
  grid-column: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin: 15px;
  color: #79a3b1;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer input {
  height: 75px;
  width: 500px;
  border-radius: 15px;
  border: none;
  font-size: 2em;
  color: #456268;
  text-indent: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
}

.inputContainer input::placeholder {
  color: #d0e8f2;
}

.inputContainer input:focus {
  outline: none;
}

/* SIDEBAR */

.accountInfo {
  margin: 15px;
  display: flex;
  align-items: center;
}

.accountInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.accountName {
  margin-left: 5px;
  color: #456268;
  font-size: 1.5em;
}

.listSection {
  margin: 10px 25px;
}

.listSectionTitle {
  color: #456268;
  font-size: 2em;
  margin: 0;
}

.sectionButton {
  margin: 5px 0;
  background-color: #d0e8f2;
  width: 150px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-top: 10px;
  font-weight: lighter;
}

.sectionButton:hover {
  box-shadow: 0 0 0;
}

.sectionButton h3 {
  color: #79a3b1;
}

.sectionButtonDivided {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  height: 35px;
  color: #d0e8f2;
}

.buttonDivider {
  width: 35%;
  background-color: #456268;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 3px 0 0 3px;
}

.cmdContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}

/* SIDEBAR ART */

.sidebarFooter {
  height: 200px;
  width: 50%;
  margin-left: 25px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: 10em;
  background-image: url("images/sidebarGraphic.svg");
}

/* TASKS */

.task {
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: #456268;
  height: 60px;
  width: 95%;
  overflow: hidden;
}

.taskData {
  margin-left: 10px;
}

.checkBox {
  height: 25px;
  width: 25px;
  border: solid 5px #79a3b1;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #ffffff;
}

.checkBox:hover {
  background-color: #d6f5ff;
}

.taskColumn {
  overflow: scroll;
  margin-top: 25px;
  width: 50%;
  height: 650px;
}

.taskColumn::-webkit-scrollbar {
  display: none;
}

/* ADD BUTTON */

.addButton {
  position: absolute;
  top: 25vh;
  right: 25px;
  width: 75px;
  margin-top: 25px;
}

.addButton:hover {
  filter: brightness(0.9);
}

/* TRASH BUTTON */

.fa-trash {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 3em;
  color: white;
  background-color: #79a3b1;
  padding: 15px;
  border-radius: 15px;
}

.fa-trash:hover {
  filter: brightness(0.9);
}

.completedTask {
  background-color: #d0e8f2;
  opacity: 0.5;
}

.checkedBox {
  background-color: #79a3b1;
  border-color: #79a3b1;
}

.buttonSelected {
  background-color: #456268;
  color: white;
}

.dropdownArrow {
  display: none;
}

/* MOBILE STYLES */
@media (max-width: 700px) {
  body {
    width: 100%;
    height: 100vh;
  }

  html {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  main {
    overflow: hidden;
  }

  .headerLogo {
    display: none;
  }

  .inputContainer input {
    position: relative;
    width: 90%;
    z-index: 2;
  }

  .inputContainerOpen {
    position: absolute;
    z-index: 2;
    top: 35px;
  }

  header {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s;
  }

  .headerOpen {
    position: absolute;
    height: 90vh;
    width: 100%;
  }

  .inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #taskInput {
    width: 90vw;
  }

  .sidebar {
    display: none;
  }

  .sidebarOpen {
    position: absolute;
    display: inline-block;
    top: 15%;
    width: 100%;
    z-index: 3;
  }

  .listSection {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionButtonOpen {
    background-color: white;
  }

  .accountInfo {
    margin-left: 40px;
  }

  .sidebarFooter {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 75vh;
  }

  /* BOTTOM BUTTONS */
  .fa-trash {
    position: static;
    margin: 0 10px 5px 0;
  }
  .addButton {
    position: static;
    margin: 0 0 5px 10px;
  }

  /* COLUMNS */
  .buttonColumn {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .taskColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .taskList {
    width: 90%;
  }

  /* NO TASKS MESSAGE */
  .messageDisplay {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 28%;
    margin: 0;
  }

  /* DROPDOWN ARROW */
  .arrowPosition {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
  }
  .dropdownArrow {
    position: absolute;
    display: inline;
    bottom: 10px;
    right: 43%;
    width: 50px;
  }
  .dropdownArrowOpen {
    position: absolute;
    right: 47%;
    top: 95%;
    transform: rotate(180deg);
  }
}
